.link {
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  padding: 0.3rem;
  border: 1px solid white;
}

path {
  fill: white;
}

.desktopMenu {
  display: flex;
  gap: 1rem;
}

.mobileMenu {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.header {
  background-color: #000;
  color: white;
}

.hiddenOnMobile {
  display: none;
}

@media (min-width: 768px) {
  .hiddenOnMobile {
    display: flex;
  }
}
